<h1>MURDS</h1>
<h3>music words.<h3>

<form action="/musician_query" method='post' >
	<label for="query" >Musician Name:</label>
	<input type='text' name='musician_query' />
	<input type='submit'>
<form>

<% if @musicians %>
	<table>

		<% @musicians.each do |musician| %>
			<tr>
				<td> <%= musician.name %></td>
				<!-- <td> <%= release.date %></td> -->
			</tr>	
		<% end %>

	</table>
<% end %>
