

<div class="four columns offset-by-six alpha">
<br>
<br>
<h1>MERDS</h1>
<p><span class="small">(music words)</span></p>
<h5>Who's singing what.</h5>
<br>
<form action="/musician_query" method='post' >
	<!-- <label for="query" >Artist:</label> -->
	<input type='text' placeholder="Enter an Artist" name='musician_query' />
	<input type='submit'>
<form>

<% if @musicians %>
	<table>

		<% @musicians.each do |musician| %>
			<tr>
				<td> <%= musician.name %></td>


				<!-- <td> <%= release.date %></td> -->
			</tr>	
		<% end %>

	</table>
<% end %>
</div>